<% provide(:title, 'Home') %>

<div class="container text-center">
  <h1>TextBookr</h1>
  <div class="row">
    <form action="/books">
      <input name="query" placeholder='Start Searching...' class="home_input invisible_input" %> </input>
      <br>
      <input type="submit"> </button>
    </form>
  </div>
</div>