<div class = "search_container"> 
	<form class = "book_container">
		<h3> Book </h3>
		<input id = "book_title" placeholder="Title">
		<input id = "book_ISBN" placeholder="ISBN">
		<br>
		<input id = "book_vol" placeholder="Volume">
		<input id = "book_ed" placeholder="Edition">
	</form>
	<form class = "author_container">
		<h3> Author </h3>
		<input id = "au_last" placeholder="Last Name">
		<input id = "au_first" placeholder="First Name">
	</form>
	<form class = "course_container">
		<h3> Course </h3>
		<input id = "course_num" placeholder="Course">
		<input id = "course_dept" placeholder="Department">
	</form>
	<a href="#" class="btn btn-default" role="button">Find</a>
</div>
<div class="results_container">
	<div class="table-header top">
      	<div class="header">Book</div>
    	<div class="header">Author</div>
    </div>
    <div class="results">
    	<% @results.each do |result| %>
    		<div class="result">
    			<div class="result-title"><%= result.title %></div>
    			<div class="result-author"><%= result.author %></div>
    		</div>
    	<% end %>
    </div>
</div>