<p>
  <strong>Author:</strong>
  <%= @search.au_last %>
  <%= @search.au_first %>
</p>


<!--
<% render :partial => @search.posts %>

<div class="results_container">
	<div class="table-header top">
      	<div class="header">Book</div>
    	<div class="header">Author</div>
    </div>
    <tbody class="results">
    	<% @posts.each do |p| %>
    		<tr class="result">
    			<td><%= p.title %></td>
    			<td><%= p.author %></td>
    			add price
    		</tr>
    	<% end %>
    </tbody>
</div>
-->