<div class="form-inline row">
	<%= f.fields_for :author do |a| %>
		<div class="input-group">
			<%= a.text_field :au_fname, placeholder: 'Author First Name' , class: "form-control invisible_input" %>
		</div>
		<div class="input-group">
			<%= a.text_field :au_lname, placeholder: 'Author Last Name', class: "form-control invisible_input" %>
		</div>
		<%= f.hidden_field :_destroy %>

		<span class="input-group form-group-btn">
			<button class="btn btn-default link_to_add_fields form-control">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</span>
	<% end %>
</div>