<div class="results_container">
    <tbody class="results">
      <% @results.each do |s| %>
    			<td><%= s.title %></td>
          <td><%= s.id %></td>
          <br>
      <% end %>
    </tbody>
</div>